@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-wrapper {
  @include flex();
  width: 100%;
  height: 100vh;
  .register {
    @include flex;
    flex-direction: column;
    margin: 5% auto;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 500px;
    min-height: 400px;
    gap: 12px;
    padding: 44px 28px;

    form {
      width: 100%;
      padding: 24px;
      @include flex;
      flex-direction: column;
      gap: 12px;

      label {
        font-size: 18px;
      }

      button {
        margin: 24px;
        width: 100%;
        background-color: #4285f4;
        color: #fff;
        border: none;
        padding: 10px;
        min-height: 30px;
        border-radius: 4px;
        font-size: 18px;
        cursor: pointer;
      }
    }

    span {
      font-size: 20px;
      color: #b6b5b5;
    }

    a {
      margin-left: 4px;
      text-decoration: none;
      color: #4285f4;
    }
  }
}

